<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dr.Shop</title>
    <link rel="icon" href="~/siteassets/img/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="~/siteassets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/siteassets/css/themify-icons.css">
    <link rel="stylesheet" href="~/siteassets/css/flaticon.css">
    <link rel="stylesheet" href="~/siteassets/css/magnific-popup.css">
    <link href="~/siteassets/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/siteassets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/siteassets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/siteassets/css/style.css" rel="stylesheet">
    <link href="~/siteassets/css/responsive.css" rel="stylesheet">
    @RenderSection("Css",false)
</head>
<body>

    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <header class="header">
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                    <div class="container">
                        <ul class="nav navbar-nav mr-auto navbar-left">
                            <li class="active"><a asp-action="index" asp-controller="Home" class="page-scroll">خانه</a></li>
                            @if(User.Identity.IsAuthenticated)
                            {
                                <li><a>@User.Identity.Name</a></li>
                                <li><a asp-action="Logout" asp-controller="User">خروج</a></li>
                            }
                            else{
                                 <li><a asp-action="Signup" asp-controller="User">ثبت نام</a></li>
                            <li><a asp-action="Login" asp-controller="User">ورود</a></li>
                            }
                           
                        </ul>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
                                aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav mr-auto navbar-right">
                                <li><a class="page-scroll" href="#discount">تخفیفات</a></li>
                                <li><a class="page-scroll" href="#products">محصولات</a></li>
                                <li><a class="page-scroll" href="#contact">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            @RenderBody()
            <footer class="footer-section bg-secondary ptb-40">
                <div class="footer-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="footer-single-col text-center">
                                    <div class="footer-social-list">
                                        <ul class="list-inline">
                                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="copyright-text">
                                        <p>&copy; تمامی حقوق نزد این وب سایت محفوظ می باشد</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/siteassets/js/jquery-3.3.1.min.js"></script>
    <script src="~/siteassets/js/bootstrap.min.js"></script>
    <script src="~/siteassets/js/jquery.easeScroll.min.js"></script>
    <script src="~/siteassets/js/owl.carousel.min.js"></script>
    <script src="~/siteassets/js/jquery.easing.min.js"></script>
    <script src="~/siteassets/js/magnific-popup.min.js"></script>
    <script src="~/siteassets/js/scripts.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>