@model LoginViewModel
<form asp-action="Login" method="post">
    <input asp-for="Email" type="email" placeholder="Enter Email"/>
    <input asp-for="Password" type="password" placeholder="Enter Password" />
    <button type="submit">submit</button>
</form>