@model PaginationDto<ProductSiteDto>
@{
    ViewData["Title"] = "صفحه اصلی";
}

<section id="hero" class="section-hero section-rotate">
    <div class="section-inner"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-product-img">
                    <div class="offer-badge">
                        <p><strong>50%</strong> تخفیف</p>
                    </div>
                    <div class="hero-img-1">
                        <img src='~/siteassets/img/system2.jpg' alt='hero-img' class='img-responsive'>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hero-content-wrap-1">
                    <div class="hero-content">
                        <h1>دکترشاپ</h1>
                        <p> بهترین محصولات را از ما بخواهید </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="discount" class="biz-product-section ptb-90">
    <div class="biz-product-wrap">
        <div class="container">
            <div class="alert alert-primary">
                <table>
                    <tr>
                        <td class="col-md-7">جهت جستجو عبارت مورد نظر خود را وارد نمایید:</td>
                        <td>
                            <form action="#" method="post">
                                <input name="search" type="text">
                                <button class="btn btn-sm btn-success" name="submit" type="button">برو</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center section-heading">
                        <h3>منو تخفیفات</h3>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" id="createtag">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme biz-products carousel-indicator">
                        <div class="biz-single-product item">
                            <div class="biz-product-img border"><img src='~/siteassets/img/1.jpg' alt='Smart Product' class='img-responsive'></div>
                            <div class="biz-product-content">
                                <p>کیس کامل</p>
                                <div class="price">
                                    <h5><span class="original-price">5,000,000 میلیون تومان</span><del>6,500,000</del></h5>
                                </div>
                                <div class="product-action-btn text-center mt-20">
                                    <a href="page1.html">مشاهده جزئیات</a>
                                </div>
                            </div>
                        </div>

                        <div class="biz-single-product item">
                            <div class="biz-product-img border"><img src='~/siteassets/img/2.jpg' alt='Smart Product' class='img-responsive'></div>
                            <div class="biz-product-content">
                                <p>کیس کامل</p>
                                <div class="price">
                                    <h5><span class="original-price">5,000,000 میلیون تومان</span><del>6,500,000</del></h5>
                                </div>
                                <div class="product-action-btn text-center mt-20">
                                    <a href="page2.html">مشاهده جزئیات</a>
                                </div>
                            </div>
                        </div>

                        <div class="biz-single-product item">
                            <div class="biz-product-img border"><img src='~/siteassets/img/5.jpg' alt='Smart Product' class='img-responsive'></div>
                            <div class="biz-product-content">
                                <p>کیس کامل</p>
                                <div class="price">
                                    <h5><span class="original-price">5,000,000 میلیون تومان</span><del>6,500,000</del></h5>
                                </div>
                                <div class="product-action-btn text-center mt-20">
                                    <a href="page1.html">مشاهده جزئیات</a>
                                </div>
                            </div>
                        </div>

                        <div class="biz-single-product item">
                            <div class="biz-product-img border"><img src='~/siteassets/img/4.jpg' alt='Smart Product' class='img-responsive'></div>
                            <div class="biz-product-content">
                                <p>کیس کامل</p>
                                <div class="price">
                                    <h5><span class="original-price">5,000,000 میلیون تومان</span><del>6,500,000</del></h5>
                                </div>
                                <div class="product-action-btn text-center mt-20">
                                    <a href="page1.html">مشاهده جزئیات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products" class="biz-product-section ptb-90">
    <div class="biz-product-wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center section-heading">
                        <h3>محصولات</h3>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" id="createtag">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme biz-products carousel-indicator">

                        

                    @foreach (var item in Model.Items)
                        {
                            <div class="biz-single-product item">
                                <div class="biz-product-img">
                                    <img src='~/@item.ProductImg' alt='@item.ProductName' class='img-responsive'>
                                </div>
                                <div class="biz-product-content">
                                    <p>@item.ProductName</p>
                                    <div class="price">
                                        <h5><span class="original-price">@item.Price.ToString("n0") تومان</span></h5>
                                    </div>
                                    <div class="product-action-btn text-center mt-20">
                                        <a asp-action="Detail" asp-controller="Product" asp-route-slug="@item.Slug">مشاهده جزئیات</a>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>
<section id="contact" class="contact-us ptb-90">
    <div class="contact-us-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-heading">
                        <h3>تماس با ما</h3>
                        <p>در صورت داشتن هر گونه انتقاد یا پیشنهاد میتوانید از طریق فرم مربوطه با ما در ارتباط باشید.</p>
                    </div>
                    <div class="footer-address">
                        <h6>دفتر مرکزی</h6>
                        <p>تهران</p>
                        <ul>
                            <li><i class="fa fa-phone"></i> <span>تلفن : 09121234567</span></li>
                            <li>
                                <i class="fa fa-envelope-o"></i> <span>
                                    ایمیل :
                                    <a href="drshop@gmail.com">drshop@gmail.com</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <?=$message?>
                    <form id="form2" method="post" action="" class="contact-us-form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="نام" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="ایمیل" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" name="tel" value="" class="form-control" id="phon"
                                           placeholder="تلفن">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" name="address" value="" size="40"
                                           class="form-control" id="company" placeholder="آدرس">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="7" cols="25"
                                              placeholder="پیام" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mt-20">
                                <button type="submit" class="btn softo-solid-btn pull-right" id="btnContactUs" name="submit">ارسال</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
